.App {
  text-align: center;
  zoom: 1.5;
}

section > *:first-child{
  margin-top: 15px;
}

section > *:last-child{
  margin-bottom: 20px;
}

section{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.fetch img{
  max-height: 350px;
  max-width: 100%;
}